{% extends "account/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Profile settings" %}{% endblock %}
{% block content %}
  <form class="form-profile" method="post">
    <h2>{% trans "Edit Profile" %}</h2>
    {% csrf_token %}
    {{ form }}
    <a class="btn btn-primary btn-block" href="{% url 'avatar_change' %}">{% trans "Change your avatar" %}</a>
    <button class="btn btn-lg btn-primary btn-block">{% trans "Save" %}</button>
  </form>
{% endblock %}
