{% extends "account/base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% block content %}
  <div class="row text-center">
    <p>
    {% avatar user %}
    </p>
    <p>
    {{ object.get_full_name }}
    </p>
    <p>
      <a class="btn btn-default" href="{% url 'profile_edit' %}">{% trans "Edit Profile" %}</a>
    </p>
  </div>
  {% if levels %}
  <h3>{% trans "Achievements for successful level passes" %}</h3>
  <div class="row text-center">
  {% for medal in levels %}
    <div class="achievement-item">
      <div class="achievement-image"><img src="/static/images/{{ medal.name }}.jpg"></div>
      <div class="achievement-title">{% trans medal.name %}</div>
      <div class="achievement-times">{% trans "Times" %}: {{ medal.count }}</div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
  {% if games %}
  <h3>{% trans "Achievements for successful game passes" %}</h3>
  <div class="row text-center">
  {% for medal in games %}
    <div class="achievement-item">
      <div class="achievement-image"><img src="/static/images/{{ medal.name }}.jpg"></div>
      <div class="achievement-title">{% trans medal.name %}</div>
      <div class="achievement-times">{% trans "Times" %}: {{ medal.count }}</div>
    </div>
  {% endfor %}
  </div>
  {% endif %}
{% endblock %}
