{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %} 
{% if object %}
{% trans "Create Article" %} 
{% else %}
{% trans "Update Article" %} 
{% endif %}
{% endblock %}
{% block head%}
{% endblock %}

{% block content %}
<h2>{% trans "Create Article" %}</h2>
<form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">
        {% if object %}
            {% trans "Save" %}
        {% else %}
            {% trans "Create" %}
        {% endif %}
    </button>
</form>
{% endblock %}
