{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load avatar_tags %}

{% block head_title %} {{ article.title }} {% endblock %}
{% block head%}
{% endblock %}

{% block content %}
<div>
<div class="article-left-container">
	<h2>{{ article.title }}</h2>
	<div>{{ article.body }}</div>
	<div>{{ article.image }}</div>
	<div>{{ article.likes_cnt }}</div>
	<div>
		<form method="post" class="form" action="{% url 'article-like' %}">
		    {% csrf_token %}
		    <input type="hidden" name="article_id" value="{{ article.id }}">
		    <button class="btn btn-success" type="submit">
		        {% trans "Like" %}
		    </button>
		</form>
	</div>
	<h2>{% trans "Comments" %} ({{article.comments_cnt}})</h2>
	<div class="comments">
		{% for comment in comment_list %}
			<div class="comment-item">
				<div class="comment-img">
					{% avatar comment.username 30 %}
				</div>
				<div class="comment-body">
					{{ comment.body }}
				</div>
				<div class="clear"></div>
			</div>
		{% endfor %}
	</div>
	<form method="post" class="form" action="{% url 'comment-add' %}">
	    {% csrf_token %}
	    <div>
	    <textarea name="body"></textarea>
	    <input type="hidden" name="article_id" value="{{ article.id }}">
	    </div>
	    <div>
	    <button class="btn btn-primary" type="submit">
	        {% trans "Comment" %}
	    </button>
	    </div>
	</form>
</div>
<div class="article-right-container">
	<h2>{{ article.title }}</h2>
</div>
</div>
{% endblock %}
