{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE html>
{% spaceless %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{% trans "&laquo;Ademi&raquo;" %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "bower/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static "css/app.css" %}" rel="stylesheet">
    <script src="{% static "bower/angular/angular.min.js" %}"></script>
    <script src="{% static "bower/angular-sanitize/angular-sanitize.min.js" %}"></script>
    <script src="{% static "bower/angular-animate/angular-animate.min.js" %}"></script>
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    <script src="{% static "bower/angular-timer/dist/angular-timer.min.js" %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    {% include "navigation.html" %}
    <div class="container content">
    {% if messages %}
        <ul class="list-group">
          {% for message in messages %}
          <li{% if message.tags %} class="list-group-item {{ message.tags }}"{% endif %}>
              {{ message }}
          </li>
          {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
    </div>
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "bower/jquery/dist/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bower/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script type="text/javascript">
        var ERROR_MESSAGE = "{% trans "Oops! Error! What a shame!" %}";
        function getCookie(name){
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?

                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
{% endspaceless %}
